.invoice-box {
    max-width: 1000px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box div.id
{
    font-size: 15;
    text-align: right;
    position: absolute;
    right: 20;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
.invoice-box table td {
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: left;
}

.invoice-box table tr.top td {
    vertical-align: bottom;
}

.invoice-box table tr.top table {
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
}

.invoice-box table tr.order-details table {
    margin-bottom: 0px;
}

.invoice-box table tr.order-details table td.header{
    text-align: left;
    width: 150px;
}

.invoice-box table tr.top table td.title {
    font-size: 30px;
    line-height: 45px;
    color: #333;
}

.invoice-box table tr.heading td {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
}

.invoice-box table tr.details td {
    padding-bottom: 5px;
}

.invoice-box table tr.item td.detail {
    text-align: center;
}

.invoice-box table tr.item td {
    font-size: 12;
    border-bottom: 1px dotted rgb(0, 0, 0);
}

.invoice-box table tr.observations div{
    font-weight: bold;
}

.invoice-box table tr.observations table td {
    font-size: 13;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.invoice-box table tr.signatures table td {
    font-weight: bold;
    margin: 0px;
    text-align: center;
    font-size: 13;
}

.invoice-box table tr.signatures table td div.role {
    font-weight: normal;
    margin-top: -5px;
    font-size: 12;
}

.invoice-box table tr.footer table td {
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }
    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}